body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:#f0f0f0;
    margin: 0;
}

.status{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 5px;
}

.box{
    width: 100px;
    height: 100px;
    background: #fff;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
}

.restart{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: none;
    border-radius:5px;
    transition: 0.3s;
}

.restart:hover{
    background-color: #333;
}

.highlight {
    background: #4caf50;
    color: white;
    font-weight: bold;
}

.scoreboard{
    margin: 20px 0;
    font-size: 20px;
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.scoreboard p{
    margin: 0;
}